<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div >
  <h1 >Budget tracker</h1>
  <div >
    <%= link_to 'LOG IN', "/users/sign_in"%>
    <%= link_to 'SIGN UP', "/users/sign_up" %>
  </div>
</div>
